.btn-login {
    
}

.btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    padding: 8px 20px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #B7B7B7;  
    

    font-size: 16px;
    color: #454545;
    font-family: "Circular Std";
    font-weight: 450;
    line-height: 150%; 
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.btn-login:hover, .btn-login:focus {
    opacity: 0.8;
}

.btn-login:active {
    background-color: #222222;
}
