.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.logo {
}
.nav__logo {
    flex-shrink: 0;
}
.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    a {
        color: #0c0101;
    }
    a:hover, a.active {
        color: #35AFF4; 
    }

    @media(max-width:767px){
        display: none;
    }
   
}

.nav__btns {
    display: flex;
    gap: 12px;


    @media(max-width:767px){
        display: none;
    }
}

.nav__icon {
    display: none;

    @media(max-width:767px){
        display: block;
    }
}