.popular {
    padding: 60px 0;
}

.popular__top {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width:600px) {
		flex-direction: column;
        gap: 15px;
    }
}
.popular__content {
    
}
.popular__title {
    display: grid;
    gap: 16px;
}
.popular__controls {
    display: flex;
    gap: 15px;
}