.subscribe {
    overflow: hidden;
    padding: 80px 0;
    background-color: var(--accent);
    

    @media(max-width:1000px) {
		padding: clamp(20px, -0.515rem + 8.82vw, 80px) 0;
    }



}

.subscribe__wrapper {
    padding-left: 180px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-image: url('./../img/subscribe/subscribe-pin-bg.svg');
        left: -77px;
        // top: 0;
        width: 237px;
        height: 274px;
        // transform: translate(-50%, -50%);
        

        @media(max-width:1000px) {
            top: -70px;
        }

        @media(max-width:714px) {
            display: none;
        }
    
    
    }

    @media(max-width:1000px) {
        padding-left: 0;
		flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }

    

}
.subscribe__contents {
    
}
.subscribe__contents-title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 28px;
    color: #fff;

    @media(max-width:450px) {
		font-size: 22px;
    }

}
.subscribe__contents--text {
    font-weight: 450;
    font-size: 20px;
    color: #f0f0f0;

    @media(max-width:450px) {
		font-size: 18px;
    }
}
.subscribe__form {
    display: flex;
    gap: 12px;
    min-width: 400px;

    @media(max-width:1000px) {
		max-width: 300px;
    }

    @media(max-width:450px) {
		flex-direction: column;
        align-items: center;
    }



}
.subscribe__form-mail {
    padding: 12px;
    padding-left: 44px;
    background: var(--page-bg);
    border: 1px solid #fff;
    border-radius: 8px;
    max-width: 328px;
    max-height: 48px;

    background-image: url('./../img/icons/email.svg');
    background-position: 12px 12px; /* x y */
    background-size: auto;
    background-repeat: no-repeat;
    
}
.subscribe__form-btn {
    border-radius: 8px;
    padding: 12px 24px;
    // width: 120px;
    height: 48px;
    background: var(--text-color);
    font-weight: 450;
    font-size: 16px;
    line-height: 150%;
    color: var(--page-bg);
}